@charset "UTF-8";
@import url('https://webfontworld.github.io/sandbox/SBAggro.css'); /* 주제 */
@import url('https://webfontworld.github.io/NexonFootballGothic/NexonFootballGothic.css'); /* 본문 */

/* basic page set */
* {
  font-family: 'SBAggro', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1617646339087-654bc92e57c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin:0;

  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  margin:0;

  box-sizing: border-box;
}


/* header set */
.container--header {
  background-color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;

  margin:0;

  height:2.5rem;
  width: 100vw;

  z-index: 5;
  box-sizing: border-box;
}


.container--header__logo {
  display: block;

  color: #000000;
  text-decoration: none;

  margin-left: 1rem;
  margin-right: auto;


  cursor: pointer;
}

.container--header__button {
  background: none;

  display: block;

  font-size: 0.7rem;
  text-decoration: none;
  color:#000000;

  border: none;
  outline: none;

  margin-left: auto;
  margin-right: 1rem;

  transition: 0.05s ease;
  cursor: pointer;
}

.container--header__button:hover {
  color: skyblue;

  transition: 0.05s ease;
}

/* body box set */
.container--body {
  background-color: white;
  
  padding:1rem;
  margin: auto;
  margin-top:4.5rem;

  height: 22rem;
  width:40rem;

  border-radius: 2rem;
  box-shadow: 20px 20px 0px 0px gray;
}

.container--body__content {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  gap:1rem;
}



/* left division set */
.content__leftdiv  {
  padding: 0.5rem 0 0 1rem;

}

.content__leftdiv h1 {
  font-size: 1.5rem;

  padding-left: 1rem;

  margin: 0;
  margin-bottom: 10px;
}

.content__leftdiv > div {

  border-radius: 1rem;
  width: 13rem;
  height: 18rem;

  overflow: hidden;
}

.content__leftdiv > div > img {

  height:18rem;
  transform: translateX(-25%);
}



/* right division set */
.content__rightdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 21rem;
}

.content__rightdiv > div >h2 {
  margin:0;
}

.content__rightdiv__gerne > p {
  font-size: 0.8rem;
  color: gray;

  margin: 0.7rem 0;
}

.content__rightdiv__context > p {
  font-size: 0.8rem;
  color: gray;
  text-justify: auto;

  margin: 0.7rem 0;

  height:8rem;
  width:23rem;

}

.content__rightdiv__btn {
  display: flex;
  flex-direction: row;
  gap:1rem;

  margin-top: auto;
  margin-left: auto;
}

.content__rightdiv__url > a {
  font-size: 0.6rem;
  color: #50b2cb;
  margin: 0.7rem 0;
}

/* .content__rightdiv__btn > a {
  margin-top: auto;
  margin-left: auto;
} */

.content__rightdiv__btn {
  margin-right:1rem;         
}

.content__rightdiv__btn > a {
  background-color: #f2cf83;

  text-decoration: none;
  color:#423f3a;
  font-size: 1rem;

  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  margin-top: auto;
  margin-left: auto;
  box-shadow: 3px 3px 10px rgba(98,95,86,0.5);

  transition: 0.3s ease;
  cursor: pointer;
}

.content__rightdiv__btn > a:hover {
  background-color: #fcde83;

  color: #67635d;
  font-weight:normal;

  transition: 0.3s ease;
  cursor: pointer;
}


.content__rightdiv_icon {
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width:40px;

  border: 1px solid #000000;
  border-radius: 2rem;

  padding:7px 0;
  margin: 0;
  margin-left:auto;
  margin-right:1rem;
  cursor:pointer;  
}

.content__rightdiv_icon:hover {
  transform: scale(1.1);
}

.content__rightdiv_icon > img {
  width:1rem;
}