@import url('https://webfontworld.github.io/NexonFootballGothic/NexonFootballGothic.css');
@import url('https://webfontworld.github.io/sandbox/SBAggro.css');

*{
    font-family: 'NexonFootballGothic';
    font-size: 20px;
    color: black;
}

body{
    margin: 0 auto;
    background-image: url('https://images.unsplash.com/photo-1617646339087-654bc92e57c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat:no-repeat;
    background-color: black;
}

h1,h2,h3,h4{
    font-family: 'SBAggro';
    font-size: 24px;
}

input, textarea, select{
    padding: 0 0 0 2%;
    margin: 1% 0 2% 0;
    border-radius: 8px;
}

::placeholder{
    color: rgb(151, 151, 151);
}

/* 테두리 */
 .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin: 6% auto;
    padding-bottom: 2rem;
    width: 80%;
    height: 100%;
    border: 3px solid rgb(28, 167, 86);
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 8px rgba(73, 237, 14, 0.787);
    /* box-shadow: 10px 10px 0px 0px rgba(0, 204, 255, 0.543); */
    box-sizing: border-box;
  }

.container:hover {
    border: 3px solid rgb(219, 216, 32);
    border-radius: 2rem;
    box-shadow: 0px 0px 15px 8px rgba(234, 210, 55, 0.787);;
}

img{
    width: 100%;
    max-height: 25vh;
    margin: 10% 0 10% 0;
}

#imgurl{
    width: 100%;
}

.title-img{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 7.6% 5% 5% 5%;
}


#sportname{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}

#img{
box-sizing: border-box;
color: white;
font-size: 15px;
    background-color: rgb(84, 83, 83);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
   
}

.notice{
    color: red;
}

.rightside{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 50%;
}

.rightside h3{
    margin: 5% 0 0 0;
}

#username{
    margin-bottom: 5%;
}

.select_container {
    display: flex;
    flex-direction: row;
}

#select1, #select2{
    width: 30%;
    margin: 3% 5% 0 2%;
}

#select1:hover, #select2:hover{
    background-color: rgba(0, 157, 255, 0.847);
}

#text-box input{
    text-align: initial;
}

#text{
    margin-bottom: 0;
    width: 100%;
    height: 100px;
    resize: none;
}

#link{
    width: 100%;
    margin-bottom: 5%;
}

.등록취소 {
    align-self: flex-end;
}

.등록취소 button:hover {
    border: 1px solid rgb(255, 251, 251);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(7, 6, 6);
}

/* header set */
.container--header {
    background-color: white;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
  
    margin:0;
  
    height:2.5rem;
    width: 100vw;
  
    z-index: 5;
    box-sizing: border-box;
  }
  
  
  .container--header__logo {
    display: block;
  
    color: #000000;
    text-decoration: none;
  
    margin-left: 1rem;
    margin-right: auto;
  
  
    cursor: pointer;
  }
  
  .container--header__button {
    background: none;
  
    display: block;
  
    font-size: 0.7rem;
    text-decoration: none;
    color:#000000;
  
    border: none;
    outline: none;
  
    margin-left: auto;
    margin-right: 1rem;
  
    transition: 0.05s ease;
    cursor: pointer;
  }
  
  .container--header__button:hover {
    color: skyblue;
  
    transition: 0.05s ease;
  }